
.c-item {
    height: 480px; 
  box-sizing: border-box; 
  overflow-y: auto;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.c-nav {
    margin-left: 10px;
}

.btn-orange {
    background-color: rgb(211, 211, 211) !important;
    border-color: rgb(204, 204, 204) !important;
    color: white !important;
}

.btn-transparent-hover {
    background-color: #F97105 !important;
    border-color: transparent !important;
    color: #ffffff;
    border-radius: 50px 50px 50px 50px;
    padding:  10px 30px 10px;
    font-size: 15px;
    font-family: "Poppins", Sans-serif;
    margin-bottom: 10px;
}

.btn-transparent-hover:hover {
    background-color: transparent !important;
    border-color: rgb(255, 255, 255) !important;
    color: rgb(255, 255, 255) !important;
}

.image-grid {
    margin-top: 30px;
}

.image-grid img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.offcanvas-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem 1.5rem; 
    background-color: #F97105; 
  }

.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.offcanvas-body {
    padding-top: 20px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.55)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2756B0;
    color: white;
    padding: 10px 0;
}